<!Doctype html>
<html>
<head>
<title>Subjects</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<br>
</head>

<body>
    <div class="container my-p4">
    <h2>list of subjects</h2>
    <hr>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Power Engineering
  </label>
  </div>
  <br>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Design of mechanical systems
  </label>
  </div>
  <br>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Industrial Engineering and Management
  </label>
  </div>
  <br>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Renewable Energy sources
  </label>
  </div>
  <br>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Project Management
  </label>
  </div>
  <br>
    <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    All Subjects
  </label>
</div
    <br>
    <br>
    <button type="button" class="btn btn-primary">Submit</button>
    </div>
</body>

<style>
body {
  background-image: linear-gradient(to right, rgba(73,252,73,0), rgba(251,185,40,1));
}
</style>
</html>